<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>74291779477-7qkr4kh29kr8c8rk5hel7vi2h3mvfo28.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.74291779477-7qkr4kh29kr8c8rk5hel7vi2h3mvfo28</string>
	<key>API_KEY</key>
	<string>AIzaSyAAk-_9LxpxWdWWvlldASlNu9HndT3dtN4</string>
	<key>GCM_SENDER_ID</key>
	<string>74291779477</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testapp</string>
	<key>PROJECT_ID</key>
	<string>friendly-20929</string>
	<key>STORAGE_BUCKET</key>
	<string>friendly-20929.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:74291779477:ios:633b85a057d561bdb7889c</string>
	<key>DATABASE_URL</key>
	<string>https://friendly-20929-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>